<label for="category">Category:</label>
<select id="category" class="inputFields" name="category">
    {{#each movie.categoryOptions}}
    <option value="{{value}}" {{selected}}>{{title}}</option>
    {{/each}}
</select>